name: Preview example site
on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed
concurrency: preview-${{ github.ref }}
jobs:
    deploy-preview:
        runs-on: ubuntu-latest
        # Only run if this PR is not from a fork
        if: github.event.pull_request.head.repo.full_name == github.repository
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Deploy preview
              uses: ./
              with:
                  source-dir: test/fixtures/sample
                  qr-code: true
